<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-antitampering"
    version="0.3.0">
    <name>Anti-Tampering</name>
    <description>Verify the integrity of cordova static assets - Android / iOS</description>
    <author>Davide Doronzo</author>
    <license>MIT</license>
    <repo>https://github.com/duddu/cordova-plugin-antitampering</repo>

    <engines>
        <engine name="cordova" version=">=5.4" />
    </engines>

    <js-module src="www/AntiTampering.js" name="AntiTampering">
        <clobbers target="cordova.plugins.AntiTampering" />
    </js-module>

    <preference name="EXCLUDE_ASSETS_EXTENSIONS" default=" " />
    <preference name="ENABLE_CORDOVA_CALLBACK" default="false" />
    <preference name="ENABLE_DEBUG_DETECTION" default="false" />

    <hook type="after_plugin_install" src="scripts/handle_plugin_preferences.js" />
    <hook type="after_prepare" src="scripts/handle_plugin_preferences.js" />
    <hook type="after_prepare" src="scripts/clear_assets_hashes.js" />
    <hook type="before_compile" src="scripts/save_assets_hashes.js" />

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AntiTamperingPlugin">
                <param name="android-package" value="com.duddu.antitampering.AntiTamperingPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/android/com/duddu/antitampering/AntiTamperingPlugin.java" target-dir="src/com/duddu/antitampering" />
        <source-file src="src/android/com/duddu/antitampering/AssetsIntegrity.java" target-dir="src/com/duddu/antitampering" />
        <source-file src="src/android/com/duddu/antitampering/DebugDetection.java" target-dir="src/com/duddu/antitampering" />
        <source-file src="src/android/com/duddu/antitampering/TamperingException.java" target-dir="src/com/duddu/antitampering" />

    </platform>

    <platform name="ios">

        <config-file target="config.xml" parent="/*">
            <feature name="AntiTamperingPlugin">
                <param name="ios-package" value="AntiTamperingPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/AntiTamperingPlugin.h" />
        <source-file src="src/ios/AntiTamperingPlugin.m" />

    </platform>

</plugin>